*{
    margin: 0;
    padding: 0;
    color: white;
}

.main{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}


.main h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 10vw;
}

.cursor{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}